*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image: url(/images/body-bg.png);
    background-repeat: no-repeat;
    background-size: 780px 780px;
    background-position: right top;
    background-color: #EDF3F8;
}